@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>
<br />
<hr />
<br />
<p>Tech Masters é uma empresa multi-trilionária.</p>
<p>A mesma empresa é conhecida mundialmente pelo seu nível de desempenho.</p>
<p>Temos várias lojas no país, e milhares á volta do mundo.</p>
<p>Sede na Ethiopia.</p>
<br />
<br />
<br />
<br />
<p class="alert alert-danger">Donate please.</p>
<button class="btn btn-danger btn-lg">Donate here.</button>
