@{
    ViewBag.Title = "Contactos";
}
<h2>@ViewBag.Title</h2>
<br />
<hr />
<br />
<address>
    One TechMasters Way<br />
    Addis Ababa, Ethiopia 1000-6669<br />
    <abbr title="Telefone">T:</abbr>
    239 666 999
</address>

<address>
    <strong>Apoio:</strong>   <a href="mailto:techsupport@techmasters.com">techsupport@techmasters.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:techmarketing@techmasters.com">techmarketing@techmasters.com</a>
</address>